{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'res/css/table-style.css' %}">
    <script src="{% static 'res/js/delete_item.js' %}"></script>
    <div id="body">
        <div class="a-cont">
            <div id="a-cont-first" class="a-cont-tittle">{{ category }}</div>
                <table class="table_blur">
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Уникальный id</th>
                        <th>Цена</th>
                        <th>Цена оптом</th>
                        <th>Удалить/редактировать</th>
                    </tr>
                    {% csrf_token %}
                    {% for item in items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.inv }}</td>
                            <td>{{ item.price }}</td>
                            <td>{% if item.price_opt %} {{ item.price_opt }} {% else %} - {% endif %}</td>
                            <td><i data-item="{{ item.inv }}" class="fa fa-times" aria-hidden="true"></i><a href="{% url 'edit_item' item.inv %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}

                </table>
                <div style="height: 200px"></div>

        </div>
    </div>

{% endblock %}