{% if items.count %}
    {% for item in items %}
        <div class="carousel-block bord">
            <a href="{% url 'item_phone' item.id %}"><img src="{{ item.get_thumb }}"/></a>
            <div class="item-name">
                <a href="{% url 'item_phone' item.id %}">{{ item.name }}</a>
            </div>
            <div class="price">
                <a href="">{{ item.price }}</a>
            </div>
            <div class="btn">
                <a href="#">Купить</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div style="background-color:white;width:100%;height: 50px;text-align: center;font-family:RobotoCondensedR;margin-top: -10px">
        <h1>Ничего не найдено</h1>
    </div>
{% endif %}