{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="body">
    <br><br><hr><br>
            <h2 class="soc">О магазине</h2>
            <br><hr><br><br><br>
            <p id="about">Добро пожаловать в наш интернет магазин бытовой техники Gorenje. Мы успели зарекомендовать себя, как стабильный и надежный продавец качественной продукции. <br>Весь товар сертифицирован и обеспечивается гарантийными обязательствами фирмы-производителя. Именно поэтому, получая заказанный вами товар, вы можете быть уверены, что этот товар сертифицирован в Украине, имеет инструкцию на украинском или русском языке и обладает официальной гарантией авторизованного сервисного центра.<br>
    Интернет-магазин бытовой техники Gorenje это:<br>
    • широкий ассортимент товаров; <br>
    • профессиональный монтаж; <br>
    • высокое качество и скорость обслуживания; <br>
    • гарантированное качество товара; <br>
    • оптимальные цены;<br>
    • бесплатная доставка по г. Киеву; <br>
    • доставка в любой регион Украины;<br>
    Наши менеджеры всегда готовы проконсультировать Вас о товаре и предоставить дополнительную информацию, для того чтобы Вы сделали правильный выбор. <br>Желаете купить варочную поверхность Горенье? Или стиральную машину Gorenje? Нет проблем. Обращайтесь в наш интернет магазин бытовой техники прямо сейчас!</p><br><br><br>
</div>
{% endblock %}