
<div style="font-family:Arial, Helvetica, sans-serif" >
    <h3 style="font-family:Arial, Helvetica, sans-serif">ВАШ ЗАКАЗ:</h3>
    <table style="font-family:Arial, Helvetica, sans-serif" BORDER CELLPADDING=10 CELLSPACING=0>
        <tr style="background-color: #ffd506">
            <th>Название</th>
            <th>Кол-во</th>
            <th>Цена за шт</th>
        </tr><!-- Table Header -->
        {% for item, count in items %}
        <tr>
            <td><a href="{{ item.get_item }}">{{ item.name }}</a></td>
            <td>{% if count > 1 and item.price_opt %}{{ item.price_opt }}{% else %}{{ item.price }}{% endif %}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
        <tr border="2" style="background-color: #969696">
            <td><b>Итого</b></td>
            <td colspan="2" align="center"> 2050 грн</td>
        </tr>
    </table>
    <h3 style="font-family:Arial, Helvetica, sans-serif">РЕКВИЗИТЫ:</h3>
    <table style="font-family:Arial, Helvetica, sans-serif" BORDER CELLPADDING=10 CELLSPACING=0>
        <tr style="background-color: #ffd506">
            <th>Способ</th>
            <th>Данные</th>
        </tr><!-- Table Header -->
        {# for item, count in items #}
        <tr>
            <td>Приват-банк</td>
            <td>4895 4494 9487 8471</td>
        </tr>
    </table>

    <p>Это автоматическое письмо. На него не надо отвечать.</p>
    <h3>С Уважением,<br><a href="">Администрация ElektroSwit</a></h3>
</div>