{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div id="body">
	<div class="container">
		<div id="slides">
            {% for slide in slides %}
                <img src="{{ slide.img.url }}">
            {% endfor %}
		 </div>
	 </div>
	 <div class="container gray">
	 <div class="hd">
		 <div class="btns btn-new">
		 <a href="">Новинки</a>
		 </div>
		 <div class="btns btn-popular notselected-btn">
		 	<a href="">Популярные</a>
		 </div>
	 </div>
	 <br>
        {% if new_items.count %}
            <div class="carousel gray">
              <div class="carousel-button-left"><a href="#"></a></div>
              <div class="carousel-button-right"><a href="#"></a></div>
                <div class="carousel-wrapper">
                   <div class="carousel-items">
                       {% for new_item in new_items%}
                          <div class="carousel-block">
                              <a href="{{ new_item.get_item }}"><img src="{{ new_item.get_thumb }}"></a>


                                <div class="item-name">
                                    <a href="{{ new_item.get_item }}">{{ new_item.name }}</a>
                                </div>
                                <div class="price">
                                    <a href="{{ new_item.get_item }}">{{ new_item.price }} <span>грн.</span></a>
                                </div>
                                <div class="btn">
                                    <a href="#">Купить</a>
                                </div>
                          </div>
                       {% endfor %}

                   </div>
                </div>
            </div>
        {% endif %}
	 </div>
	 <div class="wrapper">
	 <br>
	 	<h2 class="soc">Рекомендуем подписаться на нас в соцсетях</h2>
	 	<br><hr><br>
	 	<a href="">
	 		<img src="{% static "res/img/FB.png" %}" alt="Facebook">
	 	</a>
	 	<a href="">
	 		<img src="{% static "res/img/VK.png" %}" alt="Вконтакте">
	 	</a>
	 	<br><br><hr><br>
	 	<h2 class="soc">О магазине</h2>
	 	<br><hr><br><br><br>
	 	<p id="about">Добро пожаловать в наш интернет магазин бытовой техники Gorenje. Мы успели зарекомендовать себя, как стабильный и надежный продавец качественной продукции. <br>Весь товар сертифицирован и обеспечивается гарантийными обязательствами фирмы-производителя. Именно поэтому, получая заказанный вами товар, вы можете быть уверены, что этот товар сертифицирован в Украине, имеет инструкцию на украинском или русском языке и обладает официальной гарантией авторизованного сервисного центра.<br>
Интернет-магазин бытовой техники Gorenje это:<br>
• широкий ассортимент товаров; <br>
• профессиональный монтаж; <br>
• высокое качество и скорость обслуживания; <br>
• гарантированное качество товара; <br>
• оптимальные цены;<br>
• бесплатная доставка по г. Киеву; <br>
• доставка в любой регион Украины;<br>
Наши менеджеры всегда готовы проконсультировать Вас о товаре и предоставить дополнительную информацию, для того чтобы Вы сделали правильный выбор. <br>Желаете купить варочную поверхность Горенье? Или стиральную машину Gorenje? Нет проблем. Обращайтесь в наш интернет магазин бытовой техники прямо сейчас!</p><br><br><br>
	 </div>

</div>

{% endblock %}